Five Pandas Functions  
tail(), head(), dtype(), to_csv(), read_csv()

In [1]:
import pandas as pd

In [29]:
df = pd.DataFrame({'text':["hello","he lds","sdfs sdsdf vdsdsd"]})

In [22]:
type(df['text'][0:3])
df['word_count'] = 0

In [25]:
for index,value in df['text'].items():
    
    df['word_count'][index] = len(df['text'][index].split(" "))

<class 'str'>
<class 'str'>
<class 'str'>

/tmp/ipykernel_102/3661601528.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['word_count'][index] = len(df['text'][index].split(" "))

In [33]:
df.size
# Size only gives the no of rows

(3, 1)

In [35]:
df.shape
# shape gives both no of rows and columns

(3, 1)

In [37]:
#we can read Excel file Using
#pd.read_excel("sample.xlsx")

In [39]:
df = pd.DataFrame({'email':["dhanasty@gmail.com","hey@mail.com","python@mail.com"]})
df['username'] = ""

In [41]:
for index,values in df['email'].items():
    us = df['email'][index].split("@")
    df['username'][index] = us[0]

In [42]:
df

                email  username
0  dhanasty@gmail.com  dhanasty
1        hey@mail.com       hey
2     python@mail.com    python

In [44]:
df = pd.DataFrame({"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]})

In [46]:
df[(df['A'] > 5) & (df['B'] < 10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [47]:
df = pd.DataFrame({"values":[23,56,5,32,5,3,5,3,5,4,32,59,8,3]})

In [49]:
df['values'].std()

19.96769368777454

In [50]:
df['values'].mean()

17.357142857142858

In [51]:
df['values'].median()

5.0

In [59]:
df = pd.DataFrame({
    'Sales': [100, 150, 200, 180, 220, 300, 250, 320, 280, 350],
    'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05',
             '2023-07-06', '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10']
})

In [60]:
df['moving_average'] = 0

In [65]:
sum =0 
for index,values in df['Sales'].items():
    sum += values
    df['moving_average'][index] = sum/7

/tmp/ipykernel_102/777688349.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['moving_average'][index] = sum/7

In [ ]:
df = pd.DataFrame({
    
    'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05',
             '2023-07-06', '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10']
})

In [ ]:
df['Weekday'] = 0

In [1]:
from datetime import datetime

In [2]:
date = '2023-07-01'
born = datetime.strptime(date, '%Y-%m-%d').weekday()
import calendar

In [5]:
born

5