In [1]:
import pandas as pd

In [2]:
x = pd.Series([4,8,15,16,23,42,65,23,12,25])

In [3]:
x

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
x = [4,8,15,16,23,42,65,23,12,25]

In [5]:
pd.Series(x)

0     4
1     8
2    15
3    16
4    23
5    42
6    65
7    23
8    12
9    25
dtype: int64

In [7]:
data = {'Name':["alice","bob","claire"],
        'Age':[25,30,27],
        'Gender':["female","male","female"]}

In [8]:
pd.DataFrame(data)

     Name  Age  Gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

What is Data Frame?  
Data frame organizes 2D data into rows and columns  
-Series is known as single column but dataframe is made up of multiple columns

Some of the common functions are tail(), head(), dtype()  
head() displays the first 10 rows the dataframe

Which of the following is mutable in nature Series, DataFrame, Panel?  
Dataframe and Panel are mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
x= pd.Series([1,2,4])
y = pd.Series([5,6,8])

In [11]:
pd.DataFrame(x,y)

    0
5 NaN
6 NaN
8 NaN